@font-face {
  font-family: Public_Sans;
  src: url(Public_Sans/PublicSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: Ath;
  src: url(Athletic/Mandarin\ -\ Athletic\ Pro\ Regular.otf);
}
body {
  font-family: Ath;
  background-color: hsl(0, 0%, 98%);
  margin: 0;
}
#container {
  position: relative;
  padding: 40px 80px;
}
.navbar {
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  margin: 0;
  border: 0;
  display: flex;
}
.navbar ul {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul li {
  padding: 0 20px;
}
ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 69%);
}
.navbar img {
  width: 139px;
  height: 21.2px;
}
button {
  font-family: Ath;
  background: linear-gradient(to right, #4caf50, #64b5f6);
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  min-width: 110px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.info1 {
  display: flex;
  flex-wrap: wrap;
}
.info1 img {
  width: 90%;
}
.info1 div {
  width: 50%;
}
.info1 .text h1 {
  padding-top: 100px;
  max-width: 200px;
}
.info2 {
  padding: 100px 0;
}
p {
  max-width: 450px;
  letter-spacing: 2px;
  color: hsl(0, 0%, 69%);
}
h1 {
  letter-spacing: 2px;
}
h2 {
  letter-spacing: 2px;
}
.cards1 {
  display: flex;
  padding: 50px 0;
}
.cards1 div {
  width: 25%;
}
.cards1 p {
  max-width: 260px;
}
.cards2 {
  display: flex;

  text-align: center;
  gap: 15px;
}
.cards2 div {
  align-items: center;
  width: 25%;
}
.cards2 img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 50%;
}
.cards2 h3 {
  letter-spacing: 2px;
}
.cards2 p {
  letter-spacing: 0;
}
.footer {
  background-color: rgb(45, 49, 77);
  padding: 10px 80px;
  display: flex;
  position: relative;
}
.footer img {
  position: absolute;
}
.footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.footer li {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}
.footer li a {
  color: white;
}
.footer button {
  position: absolute;
  right: 100px;
}
.footer .links {
  padding-left: 200px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  border: none;
  cursor: pointer;
}

.menu-items {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-items li {
  margin-bottom: 10px;
}

.menu-items li a {
  display: block;
  padding: 10px;
  background-color: #ccc;
  color: #333;
}
#navbarMob {
  display: none;
}
.show {
  display: flex;
}
.mob {
  display: none;
}

@media (max-width: 500px) {
  .mob {
    display: block;
  }
  body {
    text-align: center;
  }
  #container {
    position: relative;
    padding: 30px 30px;
  }
  .web {
    display: none;
  }
  #navbarMob {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #fff;
  }
  #navbarMob img[alt="logo"] {
    width: 120px;
    position: absolute;
    left: 30px;
  }
  img[alt="icon-hamburger"] {
    position: absolute;
    width: 30px;
    height: 20px;
    right: 30px;
  }
  .info1 div {
    vertical-align: middle;
    width: 100%;
  }
  .info1 .text h1 {
    padding-top: 20px;
    max-width: 50px;
  }
  .info1 .text p {
    padding-bottom: 20px;
  }
  .info1 .image {
    padding-top: 100px;
  }
  .cards1 {
    flex-wrap: wrap;
  }
  .cards1 div {
    width: 100%;
  }
  .cards1 p {
    max-width: 500px;
  }
  .cards2 {
    flex-wrap: wrap;
  }
  .cards2 div {
    width: 100%;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer img {
    width: 120px;
    padding-bottom: 20px;
    position: static;
  }
  .footer button {
    position: static;
  }
  .footer li {
    margin: 5px 0;
  }
  .footer button {
    margin-top: 15px;
  }
  .footer .links {
    padding: 0;
  }
}
